include README.md
include LICENSE
include config.yaml
include pytest.ini
include requirements.txt

recursive-include examples *.md *.txt *.py
recursive-include tests *.md *.txt *.py
recursive-include voices *.yaml

global-exclude __pycache__
global-exclude *.py[co]
global-exclude .DS_Store
